body{
  background-color: white;
}
h1{
  font-size: 45px;
  font-weight: lighter;
  font-variant:small-caps;
  text-align: center;
  background: lightsteelblue;
  max-width:77%;
  min-height:75px;
  position: relative;
  left:100px;
  color: #402d2d;
  font-family: fantasy;
  font-style: normal;
}

.logo{
  width: 60px;
  height: 60px;
  margin-top: 0px;
  position: relative;
  top:15px;
}

.nav{
list-style: none;
margin:0;
padding:0;
text-align: center;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: 10px;
}

.resume{
  font-size: 20px;
  font-family: serif;
  position: relative;
  bottom: 20px;
  text-transform: lowercase;
  letter-spacing: 10px;
  text-align: center;
}

.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

h2{
  margin-left: 260px;

}

input[type=text], select, textarea {
  width: 177%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}




input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
  max-width: 77%;
  position: relative;
  left:100px;
  padding-top: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  max-width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.footer {
margin: 0px;
max-width:80.5%;
min-height: 75px;
position: relative;
left:100px;
background: lightsteelblue;
font-size: 10px;
font-family: serif;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: lighter;
font-variant:small-caps;
text-align: center;
padding-top: 37.5px;
color: black;
font-style: normal;

}
