body{
  background-color: white;
}
h1{
  font-size: 45px;
  font-weight: lighter;
  font-variant:small-caps;
  text-align: center;
  background: lightsteelblue;
  max-width:77%;
  min-height:75px;
  position: relative;
  left:100px;
  color: #402d2d;
  font-family: fantasy;
  font-style: normal;
}
/*
h2{
  font-size: 35px;
  font-weight: lighter;
  font-variant:small-caps;
  left:100px;
  color: grey;
  font-family: fantasy;
margin-left: 30px;
}
*/

.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}



.logo{
  width: 60px;
  height: 60px;
  margin-top: 0px;
  position: relative;
  top:15px;

}
.nav{
list-style: none;
margin:0;
padding:0;
text-align: center;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: 10px;
}


.resume{
  font-size: 20px;
  font-family: serif;
  position: relative;
  bottom: 20px;
  text-transform: lowercase;
  letter-spacing: 10px;
  text-align: center;
}

.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

h2{
  margin-left: 230px;
  padding-bottom: 50px;
}




}
#box1, #box2, #box3{
position: relative;
}

#box1{
  margin-left: 10%;
  background-color: white;
  height: 250px;
  width: 250px;
  margin-bottom: 0px;
}

.brock{
  height: 150px;
  width: 185px;
}


}
#box2{
  position: relative;
  top:-40px;
  margin-left: 10%;
  background-color: white;
  height: 250px;
  width: 250px;

}

.gb{
  position: relative;
  top:-40px;
  margin-left: 10%;
height: 150px;
width: 185px;

}

#box3{
  margin-left: 10%;
  background-color: white;
  height: 250px;
  width: 250px;
  margin-bottom: 0px;
}

.nie{
  background-color: #FFFDE6;
  height: 150px;
  width: 185px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.info1,.info2,.info3 {
color: black;
margin-left: 50%;
margin-bottom: 0%;
position: relative;
bottom: 200px;
text-align: left;
margin-right: 15%;
}


.footer {
margin: 0px;
max-width:77%;
min-height: 75px;
position: relative;
left:100px;
background: lightsteelblue;
font-size: 10px;
font-family: serif;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: lighter;
font-variant:small-caps;
text-align: center;
padding-top: 37.5px;
color: black;
font-style: normal;
}
