body {
  background-color: green;
}

p {
  font-size: 25px;
  font-weight: bold;
}

#wrapper{
width:900px;
background-color:red;
margin:0 auto;
}

#header{
text-align: center;
 height: 100px
}

#leftside{
  float:left;
background-color: pink;
height: 100px;
width: 25%;
}

#rigtside{
  float:right;
  background-color: orange;
  height: 100px;
  width: 75%;
}

#thecontent{
  float:left;
  width:900px;
background-color:blue;
height: 900px;
}

#thefooter{
  clear:both;
background-color: yellow;
  height: 100px;
}
