body
{background-color: purple;
}

#wrapper {
    width: 500px;
    margin: 0 auto;
}

h1,h2,h3, p{
  font-family:serif;
  color:white;
  }

  p{
    color: yellow;
  }

.hood{
  text-transform: uppercase;
  font-size: 30px;
color: royalblue;
}



h1{
  text-align: center;
font-stretch: extra-expanded;
text-transform: uppercase;
}

.poemtext{
  font-stretch: semi-expanded;
  font-size: 30px;
  text-transform:uppercase;
text-align:center;
}
.title{color:tomato}
.box1 {
  margin-top: 15px;
  margin-right: 5%;
  margin-bottom: 15px;
  margin-left: 5%;
border: 10px ridge white;
}

.box2{
  border-style: ridge;
  border-color: orange;
  padding: 5px;
  margin: 10px;
}
.box3{
  border-style:dashed;
  border-color: tomato;
  padding: 2px;
  margin: 5px;
}
