body
{background-color: darkorchid;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

h1,h2,h3, p{
  font-family:serif;
  color:white;
  }

  p{
    color: yellow;
  }

.hood{
  text-transform: uppercase;
  font-size: 30px;
color: green;
text-decoration: underline;
}



h1{
  text-align: center;
font-stretch: extra-expanded;
text-transform: uppercase;
}

.poemtext{
  font-stretch: semi-expanded;
  font-size: 30px;
  text-transform:uppercase;
text-align:center;
}
.title{
  color:tomato
}

#mylogo{

position: relative;
float:right;
width: 30%;
height: 30%;
}

.mylogo{
  position: relative;
  margin-right:  30%;
  float:right;
  font-size: 40px;
  text-transform: capitalize;
}
.box1 {
  margin-top: 15px;
  margin-right: 5%;
  margin-bottom: 15px;
  margin-left: 5%;
border: 5px ridge lime;
}

.box2{
  border-style: ridge;
  border-color: royalblue;
  padding: 5px;
  margin: 10px;
}
.box3{
  border-style:dashed;
  border-color: tomato;
  padding: 2px;
  margin: 5px;
}
