body
{
background-color: white;
}

#wrapper
{
width: 1000px;
margin: 0 auto;
}

span
{
font-size: 25px;
text-transform: capitalize;
margin-left: 30%;
padding-top: 30px;
}

.logo
{
height: 18%;
width: 18%;
margin-right: 25%;
vertical-align: middle;
float: right;
padding: 20px;

}

hr#lineone
{
width: 95%;
display: block;
border-style: inset;
}

.webmenu
{
font-family: sans-serif;
font-weight: bold;
text-align: center;
text-transform: uppercase;
text-transform: full-width;
word-spacing: 50px;
}

#mainpic
{
width: 94%;
height: 200px;
margin-left: 50px;
margin-bottom: 0%;
opacity: 0.5;
}

.box2
{
width: 45%;
height: 775px;
float: right;
position: relative;
border-style: inset;
border-width: 1px;
border-color: lightgrey;
margin-right: 2%;

}

.box3
{
width:45%;
height: 370px;
float: left;
position: relative;
border-style: inset;
border-width: 1px;
border-color: lightgrey;
margin-left:  3.5%;
margin-bottom: 2%;
}

.box4
{
width: 45%;
height: 370px;
float: left;
position: relative;
border-style: inset;
border-width: 1px;
border-color: lightgrey;
padding: 2px;
margin-left: 3.5%;
margin-bottom: 2%;
}

.box5{
  width: 95%;
  height: 100px;
  float:right;
  position: relative;
  border-style:ridge;
  border-width: 1px;
  border-color: lightgrey;
  margin-right: 2%;
}
